:root {
  --blue-1: #3c429e;
  --blue-2: #4c52ad;
  --yellow-1: #fac742;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.1);
}

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background-color: #051e36;
}

.scrollable-content:hover,
.scrollable-content:active,
.scrollable-content:focus {
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: white;
  width: 1px;
  border-radius: 20px;
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: #03172a;
  width: 1px;
  border-radius: 20px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background-color: #03172a;
  border-radius: 20px;
}

.sidebar-scroll:hover,
.sidebar-scroll:active,
.sidebar-scroll:focus {
  overflow-y: scroll;
}

.view-options {
  display: flex;
  align-items: center;
}

.view-options div {
  height: 20px;
  border: 1px solid #fff;
}

.view-options button {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.view-options-activated div {
  height: 20px;
  border: 1px solid #fff;
  background-color: var(--yellow-1);
}

.mat-mdc-menu-panel {
  position: absolute;
  top: 70px;
  right: 400px;
  min-width: 400px;
  max-width: 500px;
  width: 50%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  padding: 10px;
  outline: 0;
  will-change: transform, opacity;
}
