<div class="relative p-4 sm:mr-96">
  <div class="w-full">
    <div class="w-[68%] float-end mb-2 flex items-center">
      <form class="suggestion-container w-full" [formGroup]="searchForm">
        <label for="simple-search" class="sr-only">Search </label>
        <div class="relative w-full">
          <div
            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
            formControlName="city"
            type="text"
            id="input-group-1"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-gray-500 focus:ring-0 block w-full pl-10 p-2.5"
            placeholder="Search your City"
          />
          <ul
            *ngIf="
              inputFocused &&
              (suggestions?.length > 0 ||
                showNotFoundMessage ||
                loadingSuggestions)
            "
            class="max-h-[50vh] overflow-auto absolute b-0 z-10 rounded-lg p-1.5 text-sm text-gray-500 noshadow shadow-lg w-full bg-slate-50 border-gray-300 border"
          >
            <ng-container *ngIf="!loadingSuggestions; else loadingDisplay">
              <ng-container
                *ngIf="suggestions?.length !== 0; else locationNotFound"
              >
                <li
                  *ngFor="let location of suggestions"
                  class="py-1.5 z-50 px-2 border-b cursor-pointer hover:bg-sky-100 hover:shadow-lg border-gray-300 last:border-b-0"
                  (mousedown)="onSuggestionMouseDown()"
                  (mouseup)="onSuggestionMouseUp()"
                  (click)="onSuggestionClick(location)"
                >
                  <div class="flex justify-between my-auto gap-4">
                    <div class="my-auto">
                      <p class="font-semibold text-xs">
                        {{ location.country }} - {{ location.name }}
                      </p>
                      <p
                        matTooltip="State: {{ location.state }}"
                        class="text-[0.70rem] truncate w-[20vh]"
                      >
                        {{ location.state }}
                      </p>
                    </div>
                    <div class="text-[0.60rem] my-auto -space-y-2 w-100%">
                      <p
                        matTooltip="Latitude: {{ location.lat }}"
                        class="truncate"
                      >
                        Lat: {{ location.lat }}
                      </p>
                      <p
                        matTooltip="Longitude: {{ location.lon }}"
                        class="truncate"
                      >
                        Lon: {{ location.lon }}
                      </p>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ng-container>
          </ul>
        </div>
      </form>

      <button
        [matMenuTriggerFor]="settings"
        class="p-2.5 ml-2 text-sm font-medium text-white bg-gray-900 rounded-lg hover:bg-gray-800 focus:outline-none focus:ring-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-bolt hover:animate-spin"
        >
          <path
            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
          />
          <circle cx="12" cy="12" r="4" />
        </svg>
      </button>
      <mat-menu #settings xPosition="after" yPosition="above">
        <div class="menu w-full">
          <ul class="w-full">
            <li class="font-black">Temperature</li>
            <li>
              <button
                class="text-black w-full font-normal text-sm text-start"
                (click)="changeMetricSystem('&units=standard')"
              >
                Measure by Kelvin
              </button>
            </li>
            <li>
              <button
                class="text-black w-full font-normal text-sm text-start"
                (click)="changeMetricSystem('&units=imperial')"
              >
                Measure by Fahrenheit
              </button>
            </li>
            <li>
              <button
                class="text-black w-full font-normal text-sm text-start"
                (click)="changeMetricSystem('&units=metric')"
              >
                Measure by Celsius
              </button>
            </li>
          </ul>
        </div>
      </mat-menu>
    </div>

    <div class="w-full flex items-center overflow-hidden">
      <div class="w-full container">
        <div
          class="w-full lg:w-auto grid grid-cols-[350px,1fr] max-h-[400px] gap-2 mb-1"
        >
          <div class="w-full flex rounded-lg bg-auto h-[400px]">
            <div
              class="rounded-lg py-6 backdrop-blur-md pl-8 pr-32 w-full bg-gray-900 text-white"
            >
              <div class="mb-20">
                <h2 class="font-bold text-3xl leading-none pb-1">
                  {{ currentDate | date : "EEEE" }}
                </h2>
                <h3 class="leading-none pb-2 pl-1 text-xs">
                  {{ currentDate | date : " MMMM d, y" }}
                </h3>
                <p class="flex aling-center opacity-75">
                  <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="red"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  {{ weatherData?.name }}, {{ weatherData?.sys.country }}
                </p>
              </div>
              <div>
                <img
                  [src]="
                    'https://openweathermap.org/img/wn/' +
                    weatherData?.weather[0].icon +
                    '@4x.png'
                  "
                  class="-ms-3 -mb-5 h-40"
                />
                <strong class="leading-none text-4xl block font-weight-bolder">
                  {{ weatherData?.main.temp
                  }}{{ getMetricSymbol(metricSystem) }}</strong
                >
                <b class="text-xl block font-bold capitalize">{{
                  weatherData?.weather[0].main
                }}</b>
              </div>
            </div>
          </div>

          <!-- information -->
          <div class="w-full flex rounded-lg bg-auto h-[400px]">
            <div
              class="rounded-lg backdrop-blur-md w-full bg-gray-900 flex text-white"
            >
              <div *ngIf="weatherData" class="w-full flex justify-start ml-0">
                <div class="text-white p-4 w-full">
                  <!-- switch -->
                  <div class="flex justify-between items-center mb-2">
                    <div class="text-white tracking-widest text-base">
                      Information
                    </div>
                    <div class="view-options rounded-md">
                      <button
                        (click)="toggleAdvanced()"
                        class="transition-colors duration-300 ease-in-out rounded-s-md"
                        [ngClass]="{ 'bg-white text-black': !showAdvanced }"
                      >
                        Basic
                      </button>
                      <button
                        (click)="toggleAdvanced()"
                        class="transition-colors duration-300 ease-in-out rounded-e-md"
                        [ngClass]="{ 'bg-white text-black': showAdvanced }"
                      >
                        Advanced
                      </button>
                    </div>
                  </div>

                  <!-- basic view -->
                  <div
                    *ngIf="!showAdvanced"
                    class="grid grid-cols-2 w-full gap-5 max-h-[336px] h-[336px]"
                  >
                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/temperature-arrow-down-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl">
                          {{ weatherData.main.temp_min
                          }}{{ getMetricSymbol(metricSystem) }}</strong
                        >
                        <span>Temp. Min</span>
                      </div>
                    </div>

                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/temperature-arrow-up-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl">
                          {{ weatherData.main.temp_max
                          }}{{ getMetricSymbol(metricSystem) }}</strong
                        >
                        <span>Temp. Max</span>
                      </div>
                    </div>

                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/droplets-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl"
                          >{{ weatherData.main.humidity }}%</strong
                        >
                        <span>Humidity</span>
                      </div>
                    </div>

                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/clouds-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl">
                          {{ weatherData.clouds.all }}%</strong
                        >
                        <span>Cloud</span>
                      </div>
                    </div>
                  </div>

                  <!-- advance view -->
                  <div
                    *ngIf="showAdvanced"
                    class="grid grid-cols-2 w-full gap-5 max-h-[336px] h-[336px]"
                  >
                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/water-arrow-up-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl">
                          {{ weatherData.main.sea_level }}m</strong
                        >
                        <span>Sea Level</span>
                      </div>
                    </div>

                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/cloud-rain-alt-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl">
                          {{weatherData.rain?.['1h'] || 0}}mm/h</strong
                        >
                        <span>Hourly Rainfall</span>
                      </div>
                    </div>

                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/wind-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl"
                          >{{ weatherData.wind.speed }}km/h</strong
                        ><span>Wind Speed</span>
                      </div>
                    </div>

                    <div
                      class="flex justify-center gap-3 items-center col-span-1 bg-gray-100 text-black rounded-lg pb-4"
                    >
                      <div class="pt-2 flex justify-center items-center">
                        <img
                          src="../assets/icons/wind-warning-svgrepo-com.svg"
                          class="h-14"
                        />
                      </div>
                      <div class="flex flex-col">
                        <strong class="text-xl">
                          {{ weatherData.wind.deg
                          }}{{ getMetricSymbol(metricSystem) }}
                        </strong>
                        <span>Wind Degrees</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hourlyForecasts.length > 0" class="w-full">
          <div
            class="scrollable-content flex w-full overflow-x-hidden space-x-2 py-2"
          >
            <div
              *ngFor="let forecast of hourlyForecasts"
              class="flex-none w-52 bg-gray-900 rounded-lg flex flex-col justify-center items-center p-4"
            >
              <div class="text-md font-bold text-gray-900">
                <span class="font-normal text-white text-sm">
                  {{ forecast.dt_txt | date : "shortTime" }}
                </span>
              </div>
              <div class="w-20 h-20 flex items-center justify-center">
                <img
                  [src]="
                    'https://openweathermap.org/img/wn/' +
                    forecast.weather[0].icon +
                    '@4x.png'
                  "
                  class="h-16"
                />
              </div>
              <p class="text-white mb-2 capitalize">
                {{ forecast.weather[0].main }}
              </p>
              <div class="text-lg font-bold text-white">
                {{ forecast.main.temp }}{{ getMetricSymbol(metricSystem) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<aside
  id="default-sidebar"
  class="fixed top-0 right-0 z-40 w-96 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    *ngIf="dailyForecast.length > 0"
    class="sidebar-scroll h-full px-3 py-4 overflow-y-hidden"
  >
    <ul class="space-y-2 font-medium">
      <li
        *ngFor="let forecast of dailyForecast"
        class="w-full bg-gray-900 rounded-lg flex justify-center items-center p-6"
      >
        <div class="w-32 h-32 flex items-center justify-center">
          <img
            [src]="
              'https://openweathermap.org/img/wn/' +
              forecast.weather.icon +
              '@4x.png'
            "
            class="-ms-3 -mb-5 h-40"
          />
        </div>
        <div>
          <div
            class="text-md font-bold flex flex-col items-start text-gray-900"
          >
            <span
              *ngIf="currentDate !== forecast.date"
              class="font-normal text-white text-sm"
              >{{ forecast.date | date }}</span
            >
            <span
              *ngIf="currentDate === forecast.date"
              class="font-normal text-white text-sm"
              >Today</span
            >
            <p class="text-white mb-2 capitalize">
              {{ forecast.weather.main }}
            </p>
          </div>

          <div class="text-xl font-bold text-white mb-6">
            {{ forecast.temp_min }}{{ getMetricSymbol(metricSystem) }}
            <span class="font-normal text-white mx-1"> / </span>
            {{ forecast.temp_max }}{{ getMetricSymbol(metricSystem) }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>

<ng-template #loadingDisplay>
  <div role="status">
    <svg
      aria-hidden="true"
      class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

<ng-template #locationNotFound>
  <div role="status">
    <svg
      aria-hidden="true"
      class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

<router-outlet></router-outlet>
